<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/thymeleaf-org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http:/>/thymeleaf-org ">
<head>
    <meta charset="UTF-8">
    <title>admin</title>

</head>
<body>
<div class="userList" th:unless="${#lists.isEmpty(userList)}">
    <table>
        <tr>
            <th>Username</th>
            <th>Password</th>
        </tr>

        <tr th:each="user : ${userList}">
            <td th:text="${user.Username}"></td>
            <td th:text="${user.Password}"></td>
        </tr>
    </table>
</div>
</body>
</html>